@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 204 8% 98%;
    --foreground: 200 23% 16%;
    --card: 0 0% 100%;
    --card-foreground: 200 23% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 200 23% 16%;
    --primary: 197 70% 23%;
    --primary-foreground: 204 8% 98%;
    --secondary: 196 19% 51%;
    --secondary-foreground: 200 23% 16%;
    --muted: 196 19% 51%;
    --muted-foreground: 200 23% 16%;
    --accent: 196 19% 51%;
    --accent-foreground: 200 23% 16%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 23% 16%;
    --input: 200 23% 16%;
    --ring: 200 23% 16%;
    --chart-1: 197 70% 23%;
    --chart-2: 196 19% 51%;
    --chart-3: 200 23% 16%;
    --chart-4: 204 8% 98%;
    --chart-5: 197 70% 23%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 200 23% 16%;
    --foreground: 204 8% 98%;
    --card: 197 70% 23%;
    --card-foreground: 204 8% 98%;
    --popover: 200 23% 16%;
    --popover-foreground: 204 8% 98%;
    --primary: 196 19% 51%;
    --primary-foreground: 200 23% 16%;
    --secondary: 197 70% 23%;
    --secondary-foreground: 204 8% 98%;
    --muted: 197 70% 23%;
    --muted-foreground: 204 8% 98%;
    --accent: 197 70% 23%;
    --accent-foreground: 204 8% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 204 8% 98%;
    --border: 197 70% 23%;
    --input: 197 70% 23%;
    --ring: 204 8% 98%;
    --chart-1: 196 19% 51%;
    --chart-2: 197 70% 23%;
    --chart-3: 204 8% 98%;
    --chart-4: 200 23% 16%;
    --chart-5: 196 19% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    cursor: none;
  }
  a, button, [role="button"] {
    cursor: none;
  }
}